[submodule "hugo-whisper-theme"]
	path = hugo-whisper-theme
	url = https://github.com/JugglerX/hugo-whisper-theme.git
[submodule "themes/whisper"]
	path = themes/whisper
	url = https://github.com/JugglerX/hugo-whisper-theme.git
[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
