<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper list">
		{{ partial "head.html" . }}

		{{ if isset .Data "Term" }}
			<h1>Entries tagged - "{{ .Data.Term }}"</h1>
		{{ else }}
			<h1 class="page-title visually-hidden">{{ .Title }}</h1>
		{{ end }}

		{{ with .Content }}{{ . }}{{ end }}

<!--
		<ul class="posts">
			{{- range .Data.Pages -}}
			{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
			{{- else -}}
			<li class="post">
				{{ if .Params.link }}
				<a href="{{ .Params.link }}">{{.Title}}</a>
				{{ else }}
					<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">Last updated {{ .Page.Lastmod.Format "Jan 2, 2006" }}</span>
				{{ end }}
			</li>
			{{- end -}}
			{{- end -}}
		</ul>
-->

		{{ range .Sections}}
			<h2>{{ .Title }}</h2>
			<ul>
				{{ range .Data.Pages }}
				<li>
					<a href="{{ .Params.link }}">{{.Title}}</a>
					{{ with .Params.captions }}
						[ <a href="{{ . }}">captions</a> ]
					{{ end }}
					{{ with .Params.transcript }}
						[ <a href="{{ . }}">transcript</a> ]
					{{ end }}
				</li>
				{{ end }}
			</ul>
		{{ end }}
		<br>
		<span class="meta">Last updated {{ .Page.Lastmod.Format "Jan 2, 2006" }}</span>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
